@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
}

.header-links,
.hero-text {
    font-size: 18px;
    font-weight: 300;
}

/* HEADER STYLES */

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 200px 16px 200px;
    background-color: #2F2E2D;
    border-bottom: 1px solid white;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.header-links {
    display: flex;
    gap: 16px;
}

/* HERO SECTION STYLES */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 64px 200px 64px 200px;
    background-color: #2F2E2D;
    color: white;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
}

.hero-text {
    line-height: 130%;    
}

.hero-text-button {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    flex-basis: 510px;
}

.hero-image {
    width: 450px;
    height: 280px;
}

/* PRODUCTS SECTION STYLE */

.products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 72px 0px 96px 0px; 
    background-color: #F0EDEA;
}

.products-title {
    font-size: 32px;
    font-weight: 700;
}

.products-list {
    display: flex;
    justify-content: center;
    gap: 44px;
}

.product {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    gap: 12px;
}

.product img {
    height: 150px;
    width: auto;
}

.product p {
    margin: 0;
}